<div class="container">
    <div class="row clearfix" ng-controller="invoiceCntrl">
        <div class="col-md-4 column">
            <form role="form">
                <div>
                <div class="form-group">
                    <label for="custSelect">Customer Name : </label> <select id="custSelect" class="form-control" ng-model="selectedcust"
                                                                              ng-options="opt.custid as opt.name for opt in custlist">

                    </select>
                </div>
                <div class="form-group">
                    <label for="invoicenumber">Invoice Number : </label><input type="text" class="form-control" id="invoicenumber" />
                </div>
                <div class="form-group">
                    <label for="itemname">Item title : </label><select type="text" ng-model="itemtitle" class="form-control" id="itemname">
                      <option>Apple</option>
                        <option>Pear</option>
                        <option>Banana</option>
                        <option>Orange</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="price">Price : </label><input type="text" ng-model="cost" class="form-control" id="price" />
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity : </label><input type="text" ng-model="quantity" class="form-control" id="quantity" />
                </div>
                <button type="submit" ng-click="additem()" class="btn btn-default">Add Item</button>
                <div class="form-group">
                    <label for="tcst">Total Cost : </label><input type="text" ng-model="totalcost" class="form-control" id="tcst" />
                </div>
                <button type="submit" ng-click="addInvoice()" class="btn btn-default">Submit Invoice</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 column">
            <ol>
                <li ng-repeat="n in itemlst">{{n.itemtitle +" "+ n.quantity+" "+n.cost}}</li>
            </ol>
        </div>
    </div>
</div>