<div class="container">
    <div class="row clearfix" ng-controller="invoiceCntrl">
        <div class="col-md-12 column">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                Invoice ID
                            </th>
                            <th>
                                Total Amount
                            </th>
                            <th>
                                Paid
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="invoices in invoicelst|filter:{custinvoiceid:custlstid}">
                            <td>
                                    {{invoices.invoiceid}}
                            </td>
                            <td>
                                {{invoices.totalcost}}
                            </td>
                            <td>
                                <input type="checkbox" ng-model="invoices.paid" class="form-control"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td><td>Total Outstanding</td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
        </div>
    </div>
</div>