<div class="container">
  <div class="row clearfix" ng-controller="invoiceCntrl">
    <div class="col-md-12 column">
      <table class="table">
        <thead>
        <tr>
          <th>
            Invoice ID
          </th>
          <th>
            Customer ID
          </th>
          <th>
            Invoice Detail
          </th>
          <th>
            Total Amount
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoices in invoicelst">
          <td>
            <a ui-sref='invoicelist.invoicedetail({id:invoices.invoiceid})'>
            {{invoices.invoiceid}}
              </a>
          </td>
          <td>
            {{invoices.custinvoiceid}}
          </td>
          <td>
            {{(custlist | filter : {custid: invoices.custinvoiceid })[0].name }}
          </td>
          <td>
            {{invoices.totalcost}}
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div ui-view></div>
</div>